!!!
%html
  %head
    %title Universal Chat
    %meta{name: "viewport", content: "width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"}
    = stylesheet_link_tag    "universal-chat/application", media: "all"
    = javascript_include_tag "universal-chat/application"
    = csrf_meta_tags
  %body
    .container
      = yield
      
  
  = yield :javascript  
  - if !UniversalChat::Configuration.faye_server.blank?
    = javascript_include_tag "#{UniversalChat::Configuration.faye_server}.js"